$primary:         #7b2dbf;
$primary-light:   #9C4EDD;
$primary-lighter: #C67EFF;
$grey-color:#545454;

h1 {
  font-size:3.5rem;

}
@font-face {
    font-family: manrope-light;
    src: url('../fonts/static/Manrope-ExtraLight.ttf');
}
@font-face {
    font-family: manrope;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}
@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}
@mixin button-styling{
    color: #fff;
    filter: drop-shadow(0px 10px 30px rgba(224, 170, 255, 0.67)) !important;
    background: linear-gradient(180deg, #9C4EDD -5706037.79%, #7B2DBF -5690551.79%) !important;
}
.font-manrope{
    font-family: manrope-light;
}
.color-purple{
    color: $primary;
}
.font-manrope-medium{
    font-family: manrope;
}
.font-roboto{
    font-family: roboto;
}
.fw-200{
    font-weight: 200 !important;
}
.container-max-width{
    max-width: 1600px;
    height: 100%;
}

// header css starts
header{
background: url('../images/background.svg');
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
.header-sec{
    padding-top: 100px;
}
.form-1{
    .input-group{
        .btn-input{
        background-color: $primary  !important;
        color: #fff !important;
        border-radius: 0px 20px 20px 0px !important;
        background: linear-gradient(180deg, #9C4EDD -5706037.79%, #7B2DBF -5690551.79%) !important;
        box-shadow: 0px 10px 30px rgba(224, 170, 255, 0.67) !important;
    }
}
}
}
// header css ends

main{
    .section-1{
        background: url('../images/bg-section.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 700px !important;
        height: 655px;
    .bg-image{
        background: url('../images/rounded-img.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .content-max-width{
        max-width: 330px;
        margin: 0 auto;
        p{
            color: $grey-color;
        }
        button{
           @include button-styling;
        }
        .btn-margin-top{
            margin-top: 4rem;
        }
    }
    }

// section 2 css
.bg-section-2{

    background: url('../images/section-right-img.png');
    background-repeat: no-repeat;
    background-position:right;
    background-size: 700px !important;
    height: 655px;

.content-max-width{
    max-width: 330px;
    margin: 0 auto;
    p{
        color: $grey-color;
    }
    button{
       @include button-styling;
    }
    .btn-margin-top{
        margin-top: 4rem;
    }
}
}
.rounded-background{
    width: 150px;
    height: 144px;
   background: linear-gradient(89.7deg, #7526B1 0.18%, rgba(117, 38, 177, 0) 187.01%);
}


.how-works-section{

    .margin-y{
        margin: 170px 0px !important;
    }
    .step-text{
       max-width: 500px;
       font-size: 32px !important;
    }
    .rotated-text{
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    }
    .step-no{
        font-size: 5.5rem !important;
    }
    .row-max-width-1{
        max-width:1450px;
         margin:0 auto;
    }
    .row-max-width-2{
        max-width:1800px;
         margin:0 auto;
    }
    .left-img{
        background: url('../images/left-side-img.svg');
        background-position:top left;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .right-img{
        background: url('../images/right-side-img.svg');
        background-position:top right;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .left-img-bottom{
        background: url('../images/left-side-img.svg');
        background-position:top left;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .right-img-bottom{
        background: url('../images/right-side-img.svg');
        background-position:top right;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.slider-section{
    background: url('../images/bg-slider.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .carousel-indicators{
        display: none;
    }
    .carousel-control-next {
        right: -170px;
    }
    .carousel-control-prev {
        left: -210px;
    }
    .carousel-control-next-icon{
        background-color: #fff !important;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        padding: 28px;
        background-image: url('../images/arrow-right.svg') !important;
        background-size: 30px;
    }
    .carousel-control-prev-icon{
        background-color: #fff;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
        padding: 28px;
        border-radius: 50%;
        background-image: url('../images/left-arow.svg') !important;
        background-size: 30px;
    }
    .carousel-control-next, .carousel-control-prev{
        opacity:unset  !important;
    }
}
.create-account{
    button{
        @include button-styling;
        max-width: 300px;
    }
}
}
// main ends

// media queries

@media only screen and (max-width:1440px){
    header{
        .header-sec{
            padding-top: 0px;
            h1{
                font-size: 2.4rem !important;
            }
            .info-text{
                font-size:1.2rem !important;
            }
            .text-spend{
                font-size: 1.2rem !important;
            }
            .form-1{
                .btn-input{
                    font-size: 15px !important;
                }
            }
            .offer-text{
                font-size: 1.2rem !important;
            }
        }
    }
    main{
        .section-1{
            background-size: 600px !important;
        .border-img{
            width: 230px;
        }
    }

    }
}

@media only screen and (max-width:1200px){
    header{
        .header-sec{
            h1{
                font-size: 2rem !important;
            }
            .info-text{
                font-size:1.2rem !important;
            }
            .text-spend{
                font-size: 1rem !important;
            }
            .form-1{
                .btn-input{
                    font-size: 13px !important;
                }
            }
            .offer-text{
                font-size: 1rem !important;
            }
        }
    }
    main{
        .section-1{
            background-size: 470px !important;
            height: 412px;
        .looping-img{

            img{
              margin-left: -23px !important;
            }
        }
        .content-max-width{
            max-width: 203px;
            margin: 0 auto;
        .img-top-text{
            font-size: 19px !important;
            padding-top: 11px;
        }
        .btn-margin-top{
            margin-top: 1rem !important;
        }
        .img-main-text{
            font-size: 23px !important;
        }
        button{
            font-size: 14px !important;
        }
    }
    .border-img{
        width: 200px;
    }
}

    }
}

@media only screen and (max-width:991px){
    header{
        .header-sec{
            h1{
                font-size: 2.6rem !important;
            }
            .info-text{
                font-size:1.5rem !important;
            }
            .form-1{
                input{
                    width: 100% !important;
                }
                .btn-input{
                    border-radius: 0px !important;
                  width: 100% !important;
                  display: flex;
                  justify-content: center;
                }
            }
        }
    }
    main{
        .section-1{
            background-size: 370px !important;
        .looping-img{

            img{
              margin-left: -0px !important;
            }
        }
        .content-max-width{
            button{
                font-size: 12px !important;
            }
        .img-top-text{
            font-size: 19px !important;
            padding-top: 11px;
        }
        .btn-margin-top{
            margin-top: 0px !important;
        }
        .img-main-text{
            font-size: 23px !important;
        }
    }
    }
    .how-works-section{
        .step-text {
            max-width: 100% !important;
        }
    }
    .slider-section{
        .carousel-control-next {
            right: -105px !important;
        }
        .carousel-control-prev {
            left: -116px !important;
        }
    }
    }
}

@media only screen and (max-width:767px){
    header{
        .header-sec{
            padding-top: 30px  !important;
            h1{
                font-size: 2.6rem !important;
                padding-top: 12px;
            }
            .info-text{
                font-size:1.5rem !important;
            }
            .form-1{
                input{
                    width: 100% !important;
                }
                .btn-input{
                    border-radius: 0px !important;
                    margin-left:auto  !important;
                    margin-right:auto  !important;
                }
            }
        }
    }
    main{
        .container-max-width{
            max-width: 500px;
            margin: 0 auto;
        }
        .left-img{
            background: none !important;
        }
        .right-img{
            background: none !important;
        }
    .section-1{
        height: auto !important;
        background: none !important;
        .bg-image{
            height: 430px  !important;
        }
        .content-max-width{
            max-width: 370px !important;
            margin: 0 auto;
        .img-top-text{
            font-size: 19px !important;
            padding-top: 11px;
        }
        .btn-margin-top {
            margin-top: 0rem !important;
        }
        .img-main-text{
            font-size: 23px !important;
        }
    }
    }
    .slider-section{
        .carousel-control-next {
            right: -48px !important;
        }
        .carousel-control-prev {
            left: -71px !important;
        }
        .slider-max-width{
            max-width: 600px;
            margin: 0 auto;
        }
    }
}
}

@media only screen and (max-width:576px){
    header{
        .header-sec{
            padding-top: 30px !important;
            h1{
                font-size: 2.4rem !important;
                padding-top: 15px;
            }
            .info-text{
                font-size:1.5rem !important;
            }
            .form-1{
                input{
                    width: 100% !important;
                }
                .btn-input{
                    border-radius: 0px !important;
                    margin-left:auto  !important;
                    margin-right:auto  !important;
                }
            }
        }
    }
    main{
        .container-max-width{
            max-width: 480px;
            margin: 0 auto;
        }
        .section-1{
            height: auto !important;
            .bg-image{
                height: 460px !important;
            }
    .content-max-width{
        max-width: 355px !important;
        margin: 0 auto;
    .img-top-text{
        font-size: 19px !important;
        padding-top: 11px;
    }
    .img-main-text{
        font-size: 28px !important;
    }
     .btn-margin-top {
        margin-top: 2rem !important;
    }
}
}
.slider-section{
    .carousel-control-next {
        right: -39px !important;
    }
    .carousel-control-prev {
        left: -56px !important;
    }
   .carousel-control-next-icon{
        padding: 18px !important;
    }
    .carousel-control-prev-icon{
        padding: 18px !important;
    }
    .slider-max-width{
        max-width: 500px;
        margin: 0 auto;
    }
}
    }
}

@media only screen and (max-width:430px){
    .section-margin{
        margin-top: 120px !important;
    }
    header{
        .header-sec{
            padding-top: 30px !important;
            h1{
                font-size: 2.2rem !important;

            }
            .info-text{
                font-size:1.3rem !important;
            }
        }
        .btn-play{
            width: 50px !important;
        }
    }
    main{
        .section-1{
            .bg-image{
                height: 355px !important;
            }
    .content-max-width{
    .img-top-text{
        font-size: 18px !important;
        padding-top: 11px;
    }
    .img-main-text{
        font-size: 23px !important;
    }
}
}
.how-works-section{
    .rounded-background{
        width: 123px !important;
        height: 119px !important;
    }
}
.slider-section{
    .carousel-control-next {
        right: -37px !important;
    }
    .carousel-control-prev {
        left: -51px !important;
    }
   .carousel-control-next-icon{
        padding: 18px !important;
    }
    .carousel-control-prev-icon{
        padding: 18px !important;
    }
    .play-btn{
        width: 40px  !important;
    }
    .slider-max-width{
        max-width: 400px;
        margin: 0 auto;
    }
}
}
}
@media only screen and (max-width:375px){

    header{

        .header-sec{
            padding-top: 30px  !important;
            h1{
                font-size: 2.2rem !important;
            }
            .info-text{
                font-size:1.3rem !important;
            }
        }
    }
    main{
        .container-max-width{
            max-width: 375px;
            margin: 0 auto;
        }
        .section-margin{
            margin-top: 0 !important;
        }
    .section-1{
        .bg-image{
            height: 315px !important;
        }
        .content-max-width{
        .img-top-text{
            font-size: 18px !important;
            padding-top: 11px;
        }
        .img-main-text{
            font-size: 17px !important;
        }
        button{
            font-size: 12px !important;
        }
        .border-img{
            width: 130px;
        }
    }

}
.how-works-section{
    .rounded-background{
        width: 125px !important;
        height: 120px !important;
    }
    .margin-y {
        margin: 80px 0px !important;
        h1{
            font-size: 40px !important;
        }
    }
    .step-text{
        font-size: 27px !important;
    }
}
.slider-section{
    .carousel-control-next {
        right: -28px !important;
    }
    .carousel-control-prev {
        left: -38px !important;
    }
   .carousel-control-next-icon{
        padding: 18px !important;
    }
    .carousel-control-prev-icon{
        padding: 18px !important;
    }
    .play-btn{
        width: 40px  !important;
    }
    .slider-max-width{
        max-width: 350px;
        margin: 0 auto;
    }
}
}
}
